body
{
    text-align: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    background-color: rgb(240, 240, 240);
}

#blue
{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(87, 87, 255);
    color: white;
    

    margin: 3px;
    padding: 20px;

    border-radius: 5px 5px 0 0;
}

#input-el
{
    padding: 5px 10px;
    width: 50px;
    height: 40px;
    
    font-size: x-large;
    font-weight: bolder;
    text-align: center;

    border: white 1px solid;
    border-radius: 5px;
    background-color: rgb(87, 87, 255);
    color: rgb(255, 255, 255);

}
#convert-btn
{
    margin: 10px;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
    border: none;

    background-color:white;
    color: rgb(75, 73, 73);
}

#outputs
{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-around;

    color: rgb(40, 40, 134);
}

.output-box
{
    background-color: white;
    padding: 4px;

    width: 90%;
    margin: 5px 0;

    border-radius: 5px;
}
